# Optimized
__pycache__/

# Distribution / packaging
.Python
build/
dist/
.python-version

# Unit test / ruff / mypy
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# JetBrains IDEs & Cursor
.idea/
.cursor/


# Project specific
# Logs and runtime data
logs/
*.log.*

# User-specific paths and data
jsons/
exports/
